@media only screen and (min-width: 200px) and (max-width:500px)
{
    
    body{
    margin:0;
    font-size: 3px;
    background: url("bg.png");
    font-family: "Montserrat", sans-serif;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
 

.container{
    background-color: rgba(0, 0, 0, 0.566);
     backdrop-filter: blur(10px); 
    /* padding: 0.5rem; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     border-radius: .5rem; 
    border: 1px solid rgba(255, 255, 255, 0.436);
    overflow: hidden;
}
 .container h1{
    font-size: 1.2rem;
    padding: 2rem;
    color: aqua;
} 
.scoreboard{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.1rem;
    margin: 2rem;
}
.computer-score{
    color: rgb(255, 152, 68);
    font-weight: 600;
}
.user-score{
    color: rgb(82, 255, 82);
    font-weight: 300;
}
.choice{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    
}
.computer-choice, .user-choice{
    display: flex;
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 5.0rem;
}
.choice p{
    font-size: 1.0rem;
}
.choice-btn{
    margin: 2rem;
    font-size: 2.3rem;
    padding: 0.4rem;
    border-radius: 50%;
    border: 1px solid white;
    background-color: rgb(53, 53, 53);
    transition: 0.2s;
}
.user-choice-btn:hover{
    box-shadow: 0 0 20px rgb(255, 255, 255);
    transform: scale(1.12);
}

.result{
    font-size: 1.4rem;
    margin: 1rem;
    padding: 0.5rem 1.8rem;
    border: 1px solid rgb(168, 218, 210);
    color: rgb(36, 3, 3);
    border-radius: 2rem;
    box-shadow: 0 0 20px aqua;
}

}